html, body {
    background-color: #121212;
}

.grey {
    background-color: #2C2C2C;
}

@media screen and (max-width: 576px){
    .navHome{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .player{
        position: fixed;
        bottom: 9.5%;
        left: 3%;
    }
}

.card{
    background-color: #242424;
}

.card p{
    color: rgb(153, 153, 153);
    font-size: 0.8rem;
    margin: 0;
}

.card h4{
    font-weight: 400;
    font-size: 1.2rem;
}

.bi-heart, .bi-heart-fill{
    color: green;
    cursor: pointer;
    font-size: 2rem;
}

.bi-three-dots-vertical{
    color:rgb(153, 153, 153);
    font-size: 1.7rem;
}

.bi-three-dots-vertical:hover{
    color:white;
    font-size: 1.7rem;
    cursor: pointer;
}

.play-div{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgb(26, 26, 26);
    border-radius: 30px;
}
.bi-play-fill{
    color: white;
    font-size: 2rem;
}

@media screen and (min-width: 1200px) {
    .albums{
        display: none;
    }
}

#playerSection {
    position: fixed;
    bottom: 9.5%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 1200px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .player-container {
    height: 60px;
    padding: 0 15px;
  }
  
  .song-cover {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .song-title-container {
    width: 200px;
    position: relative;
  }
  
  /* animazione testo barra */
  
  .marquee {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  .player-icon {
    font-size: 1.5rem;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(170%);
    }
    100% {
      transform: translateX(-170%);
    }
  }
  
  .marquee {
    display: inline-block;
    min-width: 100%;
  }