html,
body,
header {
    background-color: #121212;
}

/* Home css */

.grey {
    background-color: #2C2C2C;
}

.card {
    background-color: #242424;
}

.card p {
    color: rgb(153, 153, 153);
    font-size: 0.8rem;
    margin: 0;
}

.card h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

.bi-heart,
.bi-heart-fill {
    color: green;
    cursor: pointer;
    font-size: 2rem;
}

.bi-three-dots-vertical {
    color: rgb(153, 153, 153);
    font-size: 1.7rem;
}

.bi-three-dots-vertical:hover {
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
}

.play-div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgb(26, 26, 26);
    border-radius: 30px;
}

.bi-play-fill {
    color: white;
    font-size: 2rem;
}

@media screen and (min-width: 1200px) {
    .albums {
        display: none;
    }
}

/* nav css */

@media screen and (max-width: 576px) {
    .navHome {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .player {
        position: fixed;
        bottom: 9.5%;
        left: 3%;
    }
}

/* album */

.container {
    color: white;
    background-color: #121212;
}

.albumInfo {
    text-align: left;
    width: 100%;
}

.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bandPfp {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.albumYear {
    color: #8d8d8d;
}

/* search css */

.custom-input-group {
    background-color: #3e3e3e;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.input-group-text {
    padding-left: 12px;
}

.search-input {
    background-color: transparent !important;
    padding-left: 0;
    color: #ffffff !important;
}

.search-input::placeholder {
    color: #ffffff !important;
    opacity: 0.7;
}

.search-input:focus {
    box-shadow: none;
}

.bi-search {
    font-size: 1.2rem;
}

.cardSearch {
    overflow: hidden;
    border: none;
    height: 8em;
    position: relative;
}

.card-body {
    position: relative;
    padding: 40px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.rotated-img {
    position: absolute;
    right: -10%;
    bottom: 0%;
    width: 100px;
    height: 110px;
    transform: rotate(25deg);
    border-radius: 8px;
    box-shadow: 2px #3e3e3e;
}

#playerSection {
    position: fixed;
    bottom: 9.5%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 1200px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.player-container {
    height: 60px;
    padding: 0 15px;
}

.song-cover {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.song-title-container {
    width: 200px;
    position: relative;
}

/* animazione testo barra */

.marquee {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.player-icon {
    font-size: 1.5rem;
}

@keyframes marquee {
    0% {
        transform: translateX(170%);
    }

    100% {
        transform: translateX(-170%);
    }
}

.marquee {
    display: inline-block;
    min-width: 100%;
}

.progress-container {
    width: 60%;
    max-width: 300px;
    margin: 20px auto;
  }
  
  .progress-bar {
    width: 100%;
    /* Per rimuovere lo stile di default su Chrome/Safari */
    /* appearance: none; */
    height: 8px;
    background: #ccc;
    border-radius: 5px;
    /* outline: none; */
    cursor:none;
  }
  
  .progress-bar::-webkit-slider-thumb {
    /* -webkit-appearance: none; */
    appearance: none ;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: none;
    border: 2px solid #fff;
  }
  
  .progress-bar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    /* cursor: pointer; */
    border: 2px solid #fff;
  }
  
  .play-btn {
    width: 60px !important;
    height: 60px;
 
  }

.album-icon {
    font-size: 30px;
}
.bi-play-fill {
   
    font-size:30px;
}

.icon-hover {
    transition: color 0.3s ease;
}
.icon-hover i:hover {
    color:green ;
}
.icon-hover button i:hover {
    color:black ;
}