.container {
  color: white;
  background-color: #121212;
}

.albumInfo {
  text-align: left;
  width: 100%;
}

.d-flex.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bandPfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.albumYear {
  color: #8d8d8d;
}
